.orange {
  color: orange;
}
.red {
  color: red;
}
.profile {
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: #ebebeb;
  box-shadow: 2px 2px 55px 9px rgba(0, 0, 0, 0.69);
  -webkit-box-shadow: 2px 2px 55px 9px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 2px 2px 55px 9px rgba(0, 0, 0, 0.69);
}
.profile img {
  width: 100%;
  border-radius: 50%;
}
